<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="http://q5yqnjmvb.bkt.clouddn.com/cafe.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<title>Setting</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">

		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container p-5 mt-3 mb-3">
				<!-- 上传头像 -->
				<h6 class="text-left text-info border-bottom pb-2">Upload Header</h6>
				<form class="mt-5" method="post" enctype="multipart/form-data" th:action="@{/user/upload}">
					<div class="form-group row mt-4">
						<label for="head-image" class="col-sm-4 col-form-label text-right">Chose Header:</label>
						<div class="col-sm-8">
							<div class="custom-file">
								<input type="file" th:class="|custom-file-input ${error!=null?'is-invalid':''}|"
									   id="head-image" name="headerImage" lang="es" required="">
<!--								<button for="head-image" data-browse="File">Chose a picture</button>-->
								<label class="custom-file-label" for="head-image" data-browse="File">Chose a picture</label>
								<div class="invalid-feedback" th:text="${error}">
									Account non exist!
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row mt-4">
						<div class="col-sm-2"></div>
						<div class="col-sm-10 text-center">
							<button type="submit" class="btn btn-info text-white form-control">Upload</button>
						</div>
					</div>
				</form>
				<!-- 修改密码 -->
				<h6 class="text-left text-info border-bottom pb-2 mt-5">Modify Password</h6>
				<form class="mt-5">				
					<div class="form-group row mt-4">
						<label for="old-password" class="col-sm-4 col-form-label text-right">Old Password:</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="old-password" placeholder="Old!" required>
							<div class="invalid-feedback">
								8 letters minimal!
							</div>							
						</div>
					</div>
					<div class="form-group row mt-4">
						<label for="new-password" class="col-sm-4 col-form-label text-right">New Password:</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="new-password" placeholder="New!" required>
							<div class="invalid-feedback">
								8 letters minimal!
							</div>							
						</div>
					</div>
					<div class="form-group row mt-4">
						<label for="confirm-password" class="col-sm-4 col-form-label text-right">Confirm new Password:</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="confirm-password" placeholder="New again!" required>
							<div class="invalid-feedback">
								2 new passwords inconsistent!
							</div>								
						</div>
					</div>				
					<div class="form-group row mt-4">
						<div class="col-sm-2"></div>
						<div class="col-sm-10 text-center">
							<button type="submit" class="btn btn-info text-white form-control">Save</button>
						</div>
					</div>
				</form>				
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer">
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js" crossorigin="anonymous"></script>
	<script src="../js/global.js"></script>
	<script>
		$(function(){
			bsCustomFileInput.init();
		});
	</script>
</body>
</html>
